body
{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: underline;
   margin:auto;
   background-color: lightgray;
     
}
.sahil{
    width: 500px;
    height: 500px;
}